<h2>Projects</h2>
<table id="projects">
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th>Last Gatekeeper Check</th>
  <%- @projects.each do |project| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= project.name %></td>
      <td><%= project.created_at %></td>
      <td><%= project.last_check_at || '<span class="blank">(never)</span>' %></td>
    </tr>
  <%- end %>
</table>
<%= link_to_function 'Add Project', 'Keymaster.addProject()' %>
    
<h2>Users</h2>
<table id="users">
  <tr>
    <th>Login</th>
    <th>Full Name</th>
    <th>Projects</th>
    <th>UID</th>
    <th>Public Key</th>
    <th>Created</th>
  </tr>
  <%- @users.each do |user| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= user.login %></td>
      <td><%= user.full_name %></td>
      <td>
        <%- user.projects.collect(&:name)[0..4].each do |project| %>
          <%= link_to project, '#' %>
        <%- end %>
        <%- if user.projects.size > 5 %>
          <%= link_to "...and #{user.projects.size-5} more", '#' %>
        <%- end %>
      </td>
      <td><%= user.uid %></td>
      <td><%= truncate user.public_ssh_key, 30 %></td>
      <td><%= user.created_at %></td>
    </tr>
  <%- end %>
</table>
<%= link_to_function 'Add User', 'Keymaster.addUser()' %>